

body{
   background-color:#6129FF;
   height: 95vh;
  
}

.contents{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   gap: 5vh;
  
}

/* Dropdown Button */
.dropbtn {
   background-color: none;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   width: 95vw;
   height: 10vh;
   margin-left: 2.5vw;
   margin-top: 1.5vh;
   z-index: 110;
   

   box-sizing: border-box;
   border: 0.53px solid #FFFFFF;
   border-radius: 42px;
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
 
 /* Dropdown button on hover & focus */
 .dropbtn:hover, .dropbtn:focus {
   background-color: none;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
   align-content: center;
   justify-content: center;
   z-index: 99;
   width: 100vw;

 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   width: 100vw;
}

 .material-icons{
   font-size: 24px;
 }

 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: rgb(255, 255, 255);
   padding: 12px 16px;
   text-decoration: none;
   display: flex;
   height: 14vh;
   width: 100vw;
   box-sizing: border-box;
   border-bottom: 0.5px solid #bdbdbd;
   
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .information{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3vh;
 }

 .result{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 p{
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   flex: none;
   order: 1;
   flex-grow: 0;
   color: #FFF500;
 }

 /* color of dropdown links on hover */
 .dropdown-content a:hover {background-color: rgb(19, 10, 138);}
 
 /* Show the dropdown menu */
 .show {display:block;}


 /*Window*/

 .window{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

 }

 .window img{
   width: 82vw;
 }

 #gif{
   display: none;
 }
 

.defaulttext{
   display: none;
   }

/* Side highlight on result page*/



/* Airport info on detail page*/

.airports{
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   color: #FFFFFF;
}


@media (min-width: 767px) {

   body{
      background-color:#6129FF;
      height: 100vh;
      overflow-y: hidden;
     
   }

   .contents{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 5vh;
   
   }

   .defaulttext{
      display: block;
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-size: 4vw;
      color: #FFFFFF;
      }

   .information{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      gap: 15vw;

      margin-left: 2.5vw;
      margin-right: 2.5vw;
   }

   .side{
      font-family: 'Lora';
      font-style: italic;
      font-weight: 500;
      font-size: 4vw;
   }

   #airports{
      display: flex;
      flex-direction: column;

      width: 50vw;
      margin-bottom: 1vh;
   }


   .airports{
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-size: 1vw;
      color: #FFFFFF;
      text-align: right;
   }

   .window{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      flex: none;
      order: 1;
   
    }
   
    .window img{
      width: 30vw;
    }

    #images{
      display: none;
    }

    #gif{
      display: block;
    }

    .dropbtn {
      background-color: none;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width: 50vw;
      height: 10vh;
      margin-left: 2.5vw;
      margin-top: 1.5vh;
      margin-bottom: 1vh;
      z-index: 110;
      
   
      box-sizing: border-box;
      border: 0.53px solid #FFFFFF;
      border-radius: 42px;
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
   
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown-content a {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      height: 14vh;
      width: 50vw;
      box-sizing: border-box;
      border-bottom: 0.5px solid #bdbdbd;
      
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

     /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
      margin-left: 2.5vw;
      position: absolute;
      width: 50vw;
      border: 0.5px solid #FFFFFF;
      border-radius: 40.5px;
      height: 85vh;
      overflow-y: scroll;
     
   }

   .dropdown {
      position: relative;
      display: inline-block;
      align-content: center;
      justify-content: center;
      z-index: 99;
   
   
    }

    p{
      font-family: 'Lora';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      flex: none;
      order: 1;
      flex-grow: 0;
      color: #FFF500;
    }

    


}
